<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    <main class="theme1">
        <nav id="form-nav" style="top: 30px; left: 40px;">
            <a href="index.html" class="nav-icon">
                <img src="../static/images/home.svg" alt="home">
                <div class="nav-text">Home</div>
            </a>
            <a href="login.html" class="nav-icon">
                <img src="../static/images/login.svg" alt="login">
                <div class="nav-text">Login</div>
            </a>
            <a href="signup.html" class="nav-icon">
                <img src="../static/images/signup.svg" alt="signup">
                <div class="nav-text">Signup</div>
            </a>
        </nav>
        <header>
            Buttons Playground
        </header>
        <nav id="nav-container">
            <div id="navigation">
                <select id="stage">
                    <option id="stage1" value="1">
                        Stage 1
                    </option>
                    <option id="stage2" value="2">
                        Stage 2
                    </option>
                    <option id="stage3" value="3">
                        Stage 3
                    </option>
                </select>
                <div onclick=start()>
                    Start
                </div>
                <div>
                    <a href="login.html">Login</a>
                </div>
                <div>
                    <a href="signup.html">Sign up</a>
                </div>

            </div>
        </nav>
        <footer>
            Wei Hang Hong
        </footer>
    </main>
    <script src="../static/js/global.js"></script>
</body>
</html>